.box {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 5px;
    width: 300px;
}

.label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.input {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.input::placeholder {
    color: #aaa;
}